body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

button {
    font-size: 1.2em;
    margin-left: 1em;
    padding: 0.5em 1em;
    appearance: none;
    -webkit-appearance: none;
}

button:hover,
button:focus {
    transform: translateY(1px);
}

button:hover:active,
button:focus:active,
button:active {
    transform: translateY(4px);
}